/*
    centrer mon design dans la page
*/

.container{
    width:1000px;
    margin: 0 auto;
}

.portfolio .zone1{
    border-bottom: 1px solid grey;
    text-align: center;
    margin-bottom: 20px;
}

.portfolio .zone1 img{
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    /*couleur en informatique : mélange entre Rouge Green Blue */
}

.portfolio .zone2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio .zone2 article{
    width:20%;
    text-align: center;
    margin-bottom: 20px;
}

.menu{
    display: flex;
    margin-bottom: 20px;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu li{
    margin-right: 10px;
}

footer{
    text-align: center;
    border-top: 1px solid grey;
    margin-top: 20px;
    padding-top: 20px;
}

.accueil .presentation{
    display: flex;
    justify-content: space-between;
}

.accueil .presentation img{
    width:47%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    /*couleur en informatique : mélange entre Rouge Green Blue */
}

.accueil .presentation div{
    width:47%;
}

.accueil .contacter{
    margin-top: 20px;
    padding-top: 20px;
    border-top:1px solid grey;
    display: flex;
    justify-content: space-between;
}

.accueil .contacter div{
    width:47%;
}

.accueil .contacter div iframe{
    width:100% !important;
}

.presentation .cv{
    display: flex;
    justify-content: space-between;
}

.presentation .cv>div{
    width:47%;
}

.experiences-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.experiences-list article{
    width:24%;
}

.experiences-list article ul{
 margin: 0;
 padding: 0;
 list-style: none;
}

form{
    margin-top: 20px;
    border-top: 1px solid grey;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 60px);
    grid-gap: 20px;
}

form > *{
    display: grid;
    grid-template-rows: auto 1fr;  
    grid-gap: 10px; 
}

.textarea{
    grid-row: span 3;
    
    box-sizing: border-box;
}

textarea{
    margin: 0;
    padding: 8px 10px;
}

.submit{
    grid-column: 1/-1;
    justify-content: flex-end;
}

.submit input{
    border-radius: 10px;
    padding: 10px 15px;
    border:1px solid grey;
    cursor:pointer;
}